%li
  = item.hidden_field :_destroy, class: 'destroy'
  %dl
    %dt= item.label :product
    %dd= item.select :product, PRODUCT
  %dl
    %dt= item.label :quantity
    %dd= item.text_field :quantity
  %dl
    %dt= item.label :price
    %dd= item.text_field :price
  = link_to 'delete', '#', class: 'delete'
